<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>template-default</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: #e5c997;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(255, 255, 255);
    "
  >
    <table style="width:100%;" display: flex;
      justify-content: center;
      align-items: center;>
      <tr>
        <td style="display: flex;
          height: 100px;
          gap: 100px;
          margin: 10px">
          <h1>Miau miau</h1>
          <img
            src="https://img.freepik.com/fotos-premium/gato-fofo-fofo-animais-de-estimacao-animal-fofo-gato-gatinho_689053-320.jpg"
            alt=""
          />
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-weight: 900;">Miau miau {{name}}, miau miau, miau {{mensagem}}. <br>
            my Miau miau {{email}}
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
